<pre>
  <%= t('.message') %> <%= request.host %>.
  <a href="#"><%= t('.heroku_message') %></a>
  <a href="#"><%= t('.other_message') %></a>
</pre>

<div class="col-lg-5 center">
  <h1><%= t('.title') %></h1>

  <%= form_for @user, url: installation_path, method: :post do |f| %>
    <%= render 'shared/errors', object: @user %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag t('buttons.install'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
