<h1><%= t('.title') %></h1>

<div style="width: 185px; padding: 30px 0;">
  <input type="text" name="daterange" class="form-control">
</div>

<%= area_chart @visits.where('created_at > ?', @start_period).group_by_day(:created_at).count %>
<%= render 'links/links', links: @links, show_group: true %>

<script type="text/javascript">
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      locale: {
        format: 'DD/MM/YYYY',
        cancelLabel: 'Clear'
      },
      dateLimit: {
        'months': 1
      },
      startDate: "<%= l(@start_period, format: '%d/%m/%Y') %>",
      endDate: "<%= l(@end_period, format: '%d/%m/%Y') %>",
      maxDate: "<%= l(Time.zone.today, format: '%d/%m/%Y') %>"
    });

    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
      var startDate = picker.startDate.format('DD/MM/YYYY');
      var endDate = picker.endDate.format('DD/MM/YYYY');
      var url = "<%= root_path %>" + '?start_period=' + startDate + '&end_period=' + endDate;
      window.location.href = url;
    });

    $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
      window.location.href = "<%= root_path %>";
    });
  });
</script>
