<div class="col-lg-5 center">
  <h1><%= t('.title') %></h1>

  <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
    <%= render 'shared/errors', object: @user %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= @user.email %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit t('buttons.send'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
