<div class="col-lg-5 center">
  <h1><%= t('.title') %></h1>

  <%= form_tag password_resets_path, method: :post do  %>
  <div class="form-group">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag t('buttons.reset_password'), class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
