<%= form_tag users_sessions_path, method: :post do  %>
  <div class="form-group">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag t('buttons.login'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('reset_password_link'), new_password_reset_path %>
