<table class="table">
  <thead>
    <tr>
      <th>Acesso em</th>
      <th>Source</th>
      <th>Location</th>
      <th>Browser</th>
      <th>Platform</th>
    </tr>
  </thead>

  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td><%= l visit.created_at, format: :long %></td>
        <td><%= visit.source %></td>
        <td><%= visit.location %></td>
        <td><%= visit.browser %></td>
        <td><%= visit.platform %></td>
      </tr>
    <% end %>
  </tbody>
</table>
