<p>
  <strong>User agent:</strong>
  <%= @visit.user_agent %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @visit.ip %>
</p>

<p>
  <strong>Referer:</strong>
  <%= @visit.referer %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
