<%= form_for(group) do |f| %>
  <%= render 'shared/errors', object: group %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-success' %>
    <% if group.persisted? %>
      <%= link_to t('delete_link'), @group, method: :delete, data: { confirm: 'Tem certeze?' }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
<% end %>
