<%= link_to t('back_link'), root_path %>

<h1><%= t('.title') %> <%= link_to t('add_group_link'), new_group_path, class: 'btn btn-primary pull-right' %></h1>

<table class="table">
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= t('created_at_column') %> <%= l group.created_at, format: :long %></td>
        <td><%= t('.links_count', count: group.links_count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
