<%= link_to t('back_link'), groups_path %>

<p class="label label-default">grupos</p>

<h1><%= @group.name %> <%= link_to t('edit_link'), edit_group_path(@group), class: 'btn btn-primary pull-right' %></h1>

<%= render 'links/links', links: @group.links.most_visited %>
