<%= form_for(link) do |f| %>
  <%= render 'shared/errors', object: link %>

  <div class="form-group">
    <%= f.label :original_url %>
    <%= f.text_field :original_url, disabled: link.persisted?, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, disabled: link.persisted?, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :group_id, 'Escolha um grupo' %>
      <%= f.select :group_id, options_from_collection_for_select(Group.sorted, :id, :name), include_blank: true %>
    </div>
    <div>
      <%= f.fields_for :group_attributes do |ff| %>
        <%= ff.label :name, 'Ou crie um novo' %>
        <%= ff.text_field :name, class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-success' %>
    <% if link.persisted? %>
      <%= link_to t('delete_link'), @link, method: :delete, data: { confirm: 'Tem certeze?' }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
<% end %>

<script>
  $('#link_group_id').on('change', function() {
    if (this.value === 'new_group') {
      $('#link_new_group').parent().removeClass('hide');
    } else {
      $('#link_new_group').parent().addClass('hide');
    }
  });
</script>
