<table class="table table-bordered">
  <tbody>
    <% links.each do |link| %>
      <tr>
        <td><%= link_to link.name || link.original_url, link %></td>
        <% if defined?(show_group) && show_group %>
          <td>em <%= link_to link.group.name, link.group %></td>
        <% end %>
        <td><%= link_to visit_link_url(link.slug), visit_link_url(link.slug), target: '_blank' %></td>
        <td><%= t('.visits_count', count: link.visits_count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
