<table class="table">
  <% stats.each do |stat| %>
    <tr>
      <td><%= stat[0] %></td>
      <td><%= number_to_human stat[1] %></td>
      <td><%= number_to_percentage stat[2], precision: 0 %></td>
    </tr>
  <% end %>
</table>
