<h1 class="page-header">Links</h1>
<p class="lead">Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.</p>

<%= render 'links', links: @links %>

<%= link_to 'Novo link', new_link_path, class: 'btn btn-primary' %>
