<%= link_to t('back_link'), links_path %>
<h1><%= @link.name %> (<%= t('links.links.visits_count', count: @link.visits_count) %>) <%= link_to t('edit_link'), edit_link_path(@link), class: 'btn btn-primary pull-right' %></h1>

<div style="width: 185px; padding: 30px 0;">
  <input type="text" name="daterange" class="form-control">
</div>

<p>
  <strong>Grupo:</strong>
  <%= @link.group.name %>
</p>

<p>
  <strong>URL original:</strong>
  <%= @link.original_url %>
</p>

<p>
  <strong>URL encurtada:</strong>
  <%= visit_link_url(@link.slug) %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= l(@link.created_at, format: :long) %>
</p>

<p>
  <strong>Visitas no período:</strong>
  <%= @visits.count %>
</p>

<%= area_chart @visits.group_by_day(:created_at).count %>

<div class="row">
  <div class="col-md-6">
    <h2>Origem</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <%= render 'stats', stats: stats_table(@visits.group(:source).count) %>
  </div>

  <div class="col-md-6">
    <h2>Localização</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <%= render 'stats', stats: stats_table(@visits.group(:location).count) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Navegador</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <%= render 'stats', stats: stats_table(@visits.group(:browser).count) %>
  </div>

  <div class="col-md-6">
    <h2>Platform</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <%= render 'stats', stats: stats_table(@visits.group(:platform).count) %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      locale: {
        format: 'DD/MM/YYYY',
        cancelLabel: 'Clear'
      },
      dateLimit: {
        'months': 1
      },
      startDate: "<%= l(@start_period, format: '%d/%m/%Y') %>",
      endDate: "<%= l(@end_period, format: '%d/%m/%Y') %>",
      maxDate: "<%= l(Time.zone.today, format: '%d/%m/%Y') %>"
    });

    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
      var startDate = picker.startDate.format('DD/MM/YYYY');
      var endDate = picker.endDate.format('DD/MM/YYYY');
      var url = "<%= link_path @link %>" + '?start_period=' + startDate + '&end_period=' + endDate;
      window.location.href = url;
    });

    $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
      window.location.href = "<%= link_path @link %>";
    });
  });
</script>
