<%= form_for(@user, method: :put, url: users_password_path) do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form-group">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit t('buttons.save'), class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to t('back_link'), edit_users_registration_path %>
