<%= form_for(@user, method: :put, url: users_registration_path) do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit t('buttons.save'), class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to t('edit_password_link'), edit_users_password_path %>
